/* .servicesMain{
    height:100%;
    width:100%;


}
.subMain{
    width:40%;
    margin:auto;
  
}
.choices{
    height:60px;
    width:auto;
    padding:15px 15px  15px 0px;
    border-top: solid black 1px;
    display:flex;
    justify-content: space-between
 

}
.choiceslast{
    height:60px;
    width:auto;
    padding:15px 15px  15px 0px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display:flex;
    justify-content: space-between

}
.servicesMain2{
    width:50%
} */