.mainContainer{
    max-width: 100%;
    padding-top: 3rem !important;
    height: auto; 
    background-color: #F3F3F3;
    padding-bottom: 8rem;
}
.mainSubContainer{
    width: 90%;
    height: auto; 
    margin: auto;
}
.heading1{
    display: flex;
    justify-content: center;
    font-size: 3.5vw; 
    color:#365dff !important;
    padding-bottom: 5rem;
}
.images{
    max-width: 90%;
    height: auto;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

.imageCls{
    /* color: red; */
    max-width: 18%;
    height: 70%; 
}
