p{
    font-size:20px;
    font-family: "poppins-regular", sans-serif;
    font-weight:200
} 
h2{
    font-size:24px;
    font-family: "poppins-regular", sans-serif;
    color: black;
    padding-bottom:1rem
}
.designImageMain{
    display:flex;
    justify-content:center;

} 

.designImage{
    max-width:60%;
    margin:auto;
    height:350px
}
.designContentMain{
    width:95%;
    margin:auto;
    padding-top:1rem
  
}