@font-face {
    font-family: 'poppins-medium';
    src: url('../../assets/fonts/Poppins-Medium.ttf') format("truetype")
}
@font-face {
    font-family: 'poppins-semibold';
    src: url('../../assets/fonts/Poppins-SemiBold.ttf') format("truetype")
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../../assets/fonts/Poppins-Regular.ttf') format("truetype")
}

.mainContainer{
    background-color: #F3F3F3;
    max-width: 100%;
    height: auto; 
    padding-top: 2rem;

}
.mainSubContainer{
    max-width: 95%;
    height: auto;
    background-color: white;
    background-image: url("../../assets/images/Asset2.svg");
    background-position: right bottom; 
    background-repeat: no-repeat; 
    background-size: 220px 400px;
    z-index:1000;
}
.mainSubContainer1{
    max-width: 90%;
    height: auto;
    background-color: transparent;
    display: flex;
}
.mainSubContainerLeft{
    max-width: 50%;
    height: auto;
    padding-top: 9rem;
}
.mainSubContainerHeading2{
    font-family:"poppins-semibold", sans-serif;
    line-height:1.2;
    font-size:45px;
    display:block;
    

}
.mainSubContainerHeading{
    color: #365DFF;
    font-size: 1em;
}
.mainSubContainerHeading3{
    font-size:20px;
    padding-top:2rem;
    font-family:"poppins-regular", sans-serif;
    
}
.mainSubContainerLeftContent{
    max-width: 80%;
    margin: auto;

}
.btn1{
    outline: 3px solid #365DFF;
    color: #365DFF;
    margin-top: 2rem !important;
    font-size: 18px;
    height:3rem !important;
    width: 12rem !important;
    margin-bottom: 2rem !important;
}
.arrows{
    width: 1.5em;
    display:flex ;
    justify-content: space-between;
    margin-bottom: 3rem !important;

}
.mainSubContainerRight{
    width: 50%;
    align-self: end;
    height: auto; 
}
.mainSubContainerRightContent{
    max-width: 80%;
    height: auto; 
    display:flex ;
    margin: auto;
}
/* @media only screen and (max-width: 960px) {
    .col-xs-12 {
      display: flex;
      flex-direction: column-reverse;
    }
  } */
/* img{
    width:500px !important;
  } */
  .mobileImg{
    max-width: 99%;
    height: auto;
  }